/* UserManagement.module.css */

/* Container for the entire UserManagement component */
.usermanagement-form-main {
  background: #eee;
  padding: 45px 20px; /* Adjust the padding for smaller screens */
}

/* Form container */
.usermanagement-form-container {
  background: #fff;
  padding: 25px 20px; /* Adjust the padding for smaller screens */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form input */
.usermanagement-input {
  width: 100%; /* Remove !important; to make it responsive */
  max-width: 350px; /* Set a max-width to prevent excessive stretching */
  padding: 4px;
}

/* Form button container */
.usermanagement-form-button-container {
  text-align: center;
  margin-top: 10px;
}

/* Table container */
.usermanagement-table-main {
  margin-top: 20px;
}

.ant-form-item-label {
  padding-right: 24px; /* Adjust the padding as needed */
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .usermanagement-form-container {
    padding: 25px 10px; /* Adjust the padding for smaller screens */
  }

  .ant-form-item-label {
    padding-right: 8px; /* Adjust the padding as needed */
  }
}
