.usermanagement-form-main {
  background: #eee;
  padding: 45px;
}

.usermanagement-form-container {
  background: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; /* Set the form container width to 100% */
 
  margin: 0 auto; /* Center the form container horizontally */
}

.usermanagement-input {
  width: 100%; /* Set the input width to 100% */
}

.usermanagement-form-button-container {
  text-align: center;
  margin-top: 20px; /* Add some margin at the top */
}

.usermanagement-table-main {
  margin-top: 20px;
}

.table {
  & thead {
    background-color: #707070;
    text-align: center;
  }

  & tbody td:first-child {
    text-align: right;
  }
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .usermanagement-form-container {
    padding: 15px;
  }

  .usermanagement-input {
    width: 100%;
  }
}
